
<script src="/public/js/bootstrap.bundle.js"></script>
<script src="https://kit.fontawesome.com/313b595428.js" crossorigin="anonymous"></script>
<script src="/public/js/all.js"></script>
</body>
</html>